{{!-- Setup the index.handlebars to have 
the template that Handlebars can render onto.
Create a button that will submit the user input 
into the database. --}}

<h1>Burgers!</h1>

<h2>Burgers that need to be devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers already devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger_name">Burger</label>
    <input type="text" id="burger_name" name="name">
  </div>
{{!-- 
  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

  <button id="submitBtn" type="submit">Add Burger</button>
  <p>Add a burger you want to devour!</p>
</form>


	{{!-- <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if devoured}}DEVOUR!{{/if}}
	</button> --}}

